:root {
	--color-primary: #08a6e4;
	--color-primary-shadow: rgba(7, 172, 230, 0.16);
	--color-redish: #fb3b64;
	--color-green: #55dfb4;
	--color-black: #000000;
	--color-grey: #a5a5a5;
	--color-medium-grey: #dcdcdcdc;
	--color-light-grey: #f7f7f7;
	--color-white: #ffffff;
	--font-raleway: "Raleway", sans-serif;
	--font-open-sans: "Open Sans", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-open-sans);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.3rem;
}

/*  */
.container {
	width: 1352px;
	margin: 0 auto;
}

/* Navigation */
.navBar {
	display: flex;
	justify-content: space-around;
	border: 1px solid var(--color-primary-shadow);
	margin: 0.2rem;
	box-shadow: 0px 5px 10px 0px rgba(125, 125, 125, 0.136);
}

.logo::before {
	content: "BestShop";
	font-size: 2rem;
	color: var(--color-primary);
}

.navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 3rem;
}

.navBar li {
	margin-right: 4rem;
}

/* Main */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main h1 {
	text-align: center;
}

main h3 {
	text-align: center;
}

main button {
	color: var(--color-white);
	background-color: var(--color-primary);
	border: none;
	border-radius: 25px;
	width: 200px;
	height: 50px;
}

.bg-main {
	width: 100%;
	height: auto;
}

/* Statistics Section */

.first-section {
	text-align: center;
}

.statistics-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 2rem;
}

.statistics-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.statistics-circle {
	border: 30px solid rgba(255, 0, 0, 0.562);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: relative;
}

.statistics-img {
	position: absolute;
}

/* Benefits Section */
.bg-container {
	background-color: var(--color-light-grey);
}

.benefits {
	padding: 100px 0;
}

.benefits-row {
	padding: 40px;
	display: flex;
	justify-content: space-between;
	background-color: var(--color-white);
	margin-bottom: 40px;
}

.benefits-img {
	width: 400px;
	position: relative;
}
.benefits-text::after {
	content: "";
	position: absolute;
	height: 4px;
	width: 400px;
	margin-top: 50px;
}

/* first row */
.benefits-text-macbook {
	width: 500px;
}

.benefits-text-macbook::after {
	background-color: var(--color-redish);
}

.benefits-background-macbook:before {
	content: "";
	position: absolute;
	background-color: var(--color-redish);
	width: 150px;
	height: 150px;
	transform: rotate(45deg);
	border-radius: 25%;
}

/* second row */
.benefits-row-second {
	flex-direction: row-reverse;
}
.benefits-text-iphone {
	width: 500px;
}

.benefits-text-iphone::after {
	background-color: var(--color-primary);
}
/* third row */
.benefits-row-third {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.benefits-text-trumpet {
	background-color: var(--color-white);
	width: 800px;
	margin-right: 10px;
}

.benefits-text-trumpet::after {
	background-color: var(--color-green);
}

.benefits-row {
	background-color: none;
}

.benefits-background-trumpet {
	background-color: var(--color-green);
	width: 500px;
	height: auto;
	margin: 0;
}

.benefits-img {
	display: block;
	margin: auto;
}
/* Pircing */
.pricing-heading {
	text-align: center;
	margin: 100px;
}
.pricing-row {
	display: flex;
	justify-content: space-between;
	margin: 100px 0;
}

.pricing-container {
	border: 1px solid black;
	border-radius: 15px;
	padding: 100px 130px;
}

.pricing-container-first-row {
	padding: 20px;
}

.pricing-container-first-row div {
	font-size: 3rem;
	font-weight: 200;
	color: var(--color-redish);
}
.pricing-container-first-row p {
	font-weight: 800;
	font-size: 0.7rem;
}

.pricing-container li {
	margin-bottom: 20px;
	text-align: center;
}

.pricing-button {
}
/* Contact */
.contact-container {
	display: flex;
	justify-content: center;
	padding: 100px 0;
}

.contact-column {
	width: 600px;
	display: flex;
	flex-direction: column;
}

.contact-checkbox {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.contact-checkbox input {
}

.contact-info {
	display: flex;
	justify-content: space-between;
	width: 300px;
}

.contact-info a {
	text-decoration: none;
	color: var(--color-black);
}

.contact-column p {
	margin: 40px 0;
}

.contact-container-button {
	display: flex;
	justify-content: flex-end;
}
.contact-button {
	color: var(--color-white);
	background-color: var(--color-primary);
	border: none;
	border-radius: 30px;
	height: 50px;
	width: 250px;
	margin-top: 20px;
}
/* Footer */
.footer-container {
	background-color: var(--color-light-grey);
	box-shadow: 0px -5px 10px 0px rgba(66, 68, 90, 1);
	height: 100px;
}

.footer-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
/*test*/
