:root {
	--color-primary: #08a6e4;
	--color-primary-shadow: rgba(7, 172, 230, 0.16);
	--color-redish: #fb3b64;
	--color-green: #55dfb4;
	--color-black: #000000;
	--color-grey: #a5a5a5;
	--color-medium-grey: #dcdcdcdc;
	--color-light-grey: #f7f7f7;
	--color-white: #ffffff;
	--font-raleway: "Raleway", sans-serif;
	--font-open-sans: "Open Sans", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-open-sans);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 1.3rem;
}

/*  */
.container {
	width: 1352px;
	margin: 0 auto;
}

/* Navigation */
.header-container {
	box-shadow: 0px 5px 10px 0px rgba(125, 125, 125, 0.136);
	padding: 10px;
}

.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.logo::before {
	content: "BestShop";
	font-size: 2rem;
	color: var(--color-primary);
	font-weight: 200;
	font-family: var(--font-raleway);
}

.navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 50px;
}

.navBar li a {
	margin-right: 3rem;
	font-size: 0.7rem;
	font-weight: 600;
	text-transform: uppercase;
	font-family: var(--font-raleway);
	color: var(--color-grey);
	text-decoration: none;
	letter-spacing: 2px;
	padding: 28px 18px 22px;
	border-bottom: 4px solid transparent;
}

.navBar li a:hover {
	border-color: var(--color-primary);
	color: var(--color-black);
}

/* Main */
.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 130px;
}

.main-container h1 {
	text-align: center;
	font-family: var(--font-raleway);
}

.main-container p {
	text-align: center;
	margin: 20px 0 30px 0;
}

.main-container button {
	color: var(--color-white);
	background-color: var(--color-primary);
	border: none;
	border-radius: 25px;
	width: 450px;
	height: 60px;
	font-weight: 700;
}

.bg-main {
	width: 100%;
	height: auto;
}

/* Statistics Section */
.first-section {
	text-align: center;
	padding: 100px 0;
}

.first-section h2 {
	margin-bottom: 80px;
}

.statistics-row {
	display: flex;
	justify-content: center;
	gap: 200px;
	align-items: center;
	padding: 2rem;
}

.statistics-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.statistic-container-2 {
	font-size: 1.1rem;
	letter-spacing: 3px;
	font-weight: 800;
	font-family: var(--font-raleway);
}

.statistic-container-3 {
	width: 120px;
	color: var(--color-grey);
}

.statistics-circle-person,
.statistics-circle-eye,
.statistics-circle-catalog {
	border: 30px solid;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: relative;
	left: 30px;
}

.statistics-circle-person {
	border: 30px solid var(--color-redish);
}

.statistics-circle-eye {
	border: 30px solid var(--color-primary);
}

.statistics-circle-catalog {
	border: 30px solid var(--color-green);
}

.statistics-img {
	position: absolute;
}

.statistics-img-person {
	top: -30px;
}

.statistics-img-eye {
	top: -18px;
	left: -2px;
}

.statistics-img-catalog {
	top: -25px;
	left: -4px;
}

/* Benefits Section */
.bg-container {
	background-color: var(--color-light-grey);
}

.benefits {
	padding: 100px 0;
}

.benefits-row {
	padding: 80px 40px;
	display: flex;
	justify-content: space-between;
	background-color: var(--color-white);
	margin: 40px 100px;
	height: 350px;
}

.benefits-description {
	width: 430px;
	line-height: 22px;
}

.benefits-text::after {
	content: "";
	position: absolute;
	height: 4px;
	width: 350px;
	margin-top: 50px;
}

.benefits-title {
	padding-bottom: 40px;
	font-family: var(--font-raleway);
	width: 300px;
}

/* first row */
.benefits-text-macbook {
	width: 500px;
}

.benefits-text-macbook::after {
	background-color: var(--color-redish);
}

.benefits-background-macbook::before {
	content: "";
	position: absolute;
	background-color: var(--color-redish);
	width: 150px;
	height: 150px;
	transform: rotate(45deg);
	border-radius: 25%;

	display: block;
}
.benefits-img-macbook {
	width: 400px;
	position: relative;
}
/* second row */
.benefits-row-second {
	flex-direction: row-reverse;
}
.benefits-text-iphone {
	width: 500px;
}

.benefits-text-iphone::after {
	background-color: var(--color-primary);
}
.benefits-img-iphone {
	width: 380px;
	position: relative;
}
.benefits-img-iphone::before {
	content: "";
	position: absolute;
	background-color: var(--color-primary);
	width: 400px;
	height: 400px;
}

/* third row */
.benefits-row-third {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.benefits-text-trumpet {
	background-color: var(--color-white);
	width: 800px;
	margin-right: 10px;
}

.benefits-text-trumpet::after {
	background-color: var(--color-green);
}

.benefits-row {
	background-color: none;
}

.benefits-background-trumpet {
	background-color: var(--color-green);
	width: 500px;
	height: auto;
	margin: 0;
}

.benefits-img {
	display: block;
	margin: auto;
}
.benefits-img-trumpet {
	width: 400px;
	position: relative;
}
/* Pircing */
.pricing-heading {
	text-align: center;
	margin-top: 100px;
	font-family: var(--font-raleway);
}
.pricing-row {
	display: flex;
	justify-content: space-between;
	margin: 50px 50px;
}

.pricing-container {
	border-radius: 15px;
	padding: 0 115px;
	display: flex;
	flex-direction: column;
}

.pricing-container-basic {
	border: 1.5px solid var(--color-redish);
	margin: 15px 0;
}
.pricing-container-premium {
	border: 1.5px solid var(--color-green);
	margin: 15px 0;
}
.pricing-container-professional {
	border: 1.5px solid var(--color-primary);
}

.pricing-price {
	font-size: 3rem;
	font-weight: 200;
	margin: 25px 0 15px 0;
}

.pricing-price-basic {
	color: var(--color-redish);
	margin-bottom: 30px;
}

.pricing-price-professional {
	color: var(--color-primary);
}

.pricing-price-premium {
	color: var(--color-green);
	margin-bottom: 20px;
}
.pricing-container-first-row {
	margin-bottom: 80px;
	text-align: center;
}

.pricing-container-first-row h3 {
	font-weight: 800;
	padding-top: 30px;
}

.pricing-container-first-row p {
	font-weight: 800;
	font-size: 0.7rem;
}

.pricing-item,
.pricing-item-no {
	margin-bottom: 20px;
	text-align: center;
	font-size: 0.9rem;
}

.pricing-item::before {
	content: "";
	position: absolute;
	width: 1rem;
	height: 1rem;
	background-image: url(../assets/Ckechmark-1.svg);
	background-repeat: no-repeat;
	margin-left: -20px;
}

.pricing-item-no::before {
	background-image: url(../assets/Close.svg);
}

.pricing-button {
	position: relative;
	
	background-color: var(--color-primary);
	text-align: center;
	width: 160px;
	height: 40px;
	padding: 7%;
	border-radius: 30px;
	color: var(--color-white);
	text-decoration: none;
}

.pricing-button-basic {
	background-color: var(--color-redish);
	top: 23px;
}
.pricing-button-professional {
	top: 55px;
}
.pricing-button-premium {
	background-color: var(--color-green);
	top: 23px;
}
/* Contact */
.contact-container {
	display: flex;
	justify-content: center;
	padding: 100px 0;
}

.contact-column {
	width: 600px;
	display: flex;
	flex-direction: column;
}

.contact-checkbox {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.contact-checkbox input {
}

.contact-info {
	display: flex;
	justify-content: space-between;
	width: 300px;
}

.contact-info a {
	text-decoration: none;
	color: var(--color-black);
}

.contact-column p {
	margin: 40px 0;
}

.contact-container-button {
	display: flex;
	justify-content: flex-end;
}
.contact-button {
	color: var(--color-white);
	background-color: var(--color-primary);
	border: none;
	border-radius: 30px;
	height: 50px;
	width: 250px;
	margin-top: 20px;
}
/* Footer */
.footer-container {
	background-color: var(--color-light-grey);
	box-shadow: 0px -5px 10px 0px rgba(66, 68, 90, 1);
	height: 100px;
}

.footer-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
/*test*/
